html, body {
  min-height: 100%;
}

header>h1{
  text-align: center;
}

/* .content{
  display: flex;
  justify-content: space-between;
} */

footer>h4{
  position: relative;
  bottom: 0;
  height: 50px;
  text-align: center;
}